Repository KyrilosNasr/Senior-Study: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["eslint --fix", "prettier --write"],
  "src/**/*.html": ["prettier --write"],
  "src/**/*.scss": ["prettier --write"],
  "src/**/*.json": ["prettier --write"]
}

Create CNAME
  docs/CNAME
Due: none

Update CNAME
  docs/CNAME
Due: none

Delete CNAME
  docs/CNAME
Due: none

Add GitHub Pages configuration to Angular project, including build and deploy scripts in package.json, and update base href in index.html. Remove unused CSS file for optimization.
  .github/workflows/deploy-github-pages.yml
  GITHUB_PAGES_SETUP.md
  angular.json
  docs/.nojekyll
  docs/index.html
  docs/styles-OQRB4S7Y.css
  docs/styles-RIFH7POX.css
  package.json
Due: none

Add TypeScript route and navigation links to OOP and SOLID layouts
  src/app/app.routes.ts
  src/app/features/advanced-typescript/advanced-types/advanced-types-demo.component.html
  src/app/features/advanced-typescript/advanced-types/advanced-types-demo.component.scss
  src/app/features/advanced-typescript/advanced-types/advanced-types-demo.component.ts
  src/app/features/advanced-typescript/decorators/decorators-demo.component.html
  src/app/features/advanced-typescript/decorators/decorators-demo.component.scss
  src/app/features/advanced-typescript/decorators/decorators-demo.component.ts
  src/app/features/advanced-typescript/function-types/function-types-demo.component.html
  src/app/features/advanced-typescript/function-types/function-types-demo.component.scss
  src/app/features/advanced-typescript/function-types/function-types-demo.component.ts
  src/app/features/advanced-typescript/generics/generics-demo.component.html
  src/app/features/advanced-typescript/generics/generics-demo.component.scss
  src/app/features/advanced-typescript/generics/generics-demo.component.ts
  src/app/features/advanced-typescript/module-augmentation/module-augmentation-demo.component.html
  src/app/features/advanced-typescript/module-augmentation/module-augmentation-demo.component.scss
  src/app/features/advanced-typescript/module-augmentation/module-augmentation-demo.component.ts
  src/app/features/advanced-typescript/type-guards/type-guards-demo.component.html
  src/app/features/advanced-typescript/type-guards/type-guards-demo.component.scss
  src/app/features/advanced-typescript/type-guards/type-guards-demo.component.ts
  src/app/features/advanced-typescript/typescript-5-features/typescript-5-features-demo.component.html
  src/app/features/advanced-typescript/typescript-5-features/typescript-5-features-demo.component.scss
  src/app/features/advanced-typescript/typescript-5-features/typescript-5-features-demo.component.ts
  src/app/features/advanced-typescript/typescript-layout.component.html
  src/app/features/advanced-typescript/typescript-layout.component.scss
  src/app/features/advanced-typescript/typescript-layout.component.ts
  src/app/features/advanced-typescript/typescript.routes.ts
  src/app/features/advanced-typescript/utility-types/utility-types-demo.component.html
  src/app/features/advanced-typescript/utility-types/utility-types-demo.component.scss
  src/app/features/advanced-typescript/utility-types/utility-types-demo.component.ts
  src/app/features/oop/oop-layout.component.ts
  src/app/features/solid/solid-layout.component.ts
Due: eslint --fix, prettier --write

Refactor demo components by adding spacing in SCSS and TypeScript files for improved layout consistency across RxJS sections.
  src/app/features/rxjs/combination-operators/combination-operators-demo.component.scss
  src/app/features/rxjs/creation-operators/creation-operators-demo.component.scss
  src/app/features/rxjs/creation-operators/creation-operators-demo.component.ts
  src/app/features/rxjs/error-handling/error-handling-demo.component.scss
  src/app/features/rxjs/filtering-operators/filtering-operators-demo.component.html
  src/app/features/rxjs/filtering-operators/filtering-operators-demo.component.scss
  src/app/features/rxjs/filtering-operators/filtering-operators-demo.component.ts
  src/app/features/rxjs/multicasting-operators/multicasting-operators-demo.component.scss
  src/app/features/rxjs/multicasting-operators/multicasting-operators-demo.component.ts
  src/app/features/rxjs/transformation-operators/transformation-operators-demo.component.scss
  src/app/features/rxjs/transformation-operators/transformation-operators-demo.component.ts
  src/app/features/rxjs/utility-operators/utility-operators-demo.component.html
  src/app/features/rxjs/utility-operators/utility-operators-demo.component.scss
Due: eslint --fix, prettier --write

Add comprehensive guidelines for AI agents and developers
  .agent/rules/CODING_STANDARDS.md
  .agent/rules/COMPONENT_GUIDELINES.md
  .agent/rules/PERFORMANCE_GUIDELINES.md
  .agent/rules/README.md
  .agent/rules/STYLING_GUIDELINES.md
Due: none

refactor(layout): enhance UI/UX with improved styling and responsive design
  src/app/features/advanced-typescript/typescript-layout.component.html
  src/app/features/oop/oop-layout.component.html
  src/app/features/rxjs/combination-operators/combination-operators-demo.component.scss
  src/app/features/rxjs/creation-operators/creation-operators-demo.component.scss
  src/app/features/rxjs/creation-operators/creation-operators-demo.component.ts
  src/app/features/rxjs/error-handling/error-handling-demo.component.scss
  src/app/features/rxjs/filtering-operators/filtering-operators-demo.component.html
  src/app/features/rxjs/filtering-operators/filtering-operators-demo.component.scss
  src/app/features/rxjs/filtering-operators/filtering-operators-demo.component.ts
  src/app/features/rxjs/multicasting-operators/multicasting-operators-demo.component.scss
  src/app/features/rxjs/multicasting-operators/multicasting-operators-demo.component.ts
  src/app/features/rxjs/rxjs-layout.component.html
  src/app/features/rxjs/transformation-operators/transformation-operators-demo.component.scss
  src/app/features/rxjs/transformation-operators/transformation-operators-demo.component.ts
  src/app/features/rxjs/utility-operators/utility-operators-demo.component.html
  src/app/features/rxjs/utility-operators/utility-operators-demo.component.scss
  src/app/features/solid/solid-layout.component.html
  src/app/features/solid/srp/srp-demo.component.html
  src/app/shared/components/sidebar/sidebar.component.html
  src/app/shared/components/sidebar/sidebar.component.ts
  src/app/shared/components/theme-toggle/theme-toggle.component.html
  src/styles.scss
Due: eslint --fix, prettier --write

chore(styles): add VSCode settings and update SCSS for improved theming
  .vscode/settings.json
  src/app/features/rxjs/combination-operators/combination-operators-demo.component.scss
  src/app/features/rxjs/creation-operators/creation-operators-demo.component.scss
  src/app/features/rxjs/error-handling/error-handling-demo.component.scss
  src/app/features/rxjs/filtering-operators/filtering-operators-demo.component.scss
  src/app/features/rxjs/multicasting-operators/multicasting-operators-demo.component.scss
  src/app/features/rxjs/transformation-operators/transformation-operators-demo.component.scss
  src/app/features/rxjs/utility-operators/utility-operators-demo.component.scss
  src/styles.scss
Due: prettier --write

refactor(components): remove unused SCSS files and clean up component styles
  src/app/shared/components/code-example/code-example.component.scss
  src/app/shared/components/code-example/code-example.component.ts
  src/app/shared/components/demo-header/demo-header.component.scss
  src/app/shared/components/demo-header/demo-header.component.ts
  src/app/shared/components/demo-section/demo-section.component.scss
  src/app/shared/components/demo-section/demo-section.component.ts
  src/app/shared/components/demo-tabs/demo-tabpanel.component.scss
  src/app/shared/components/demo-tabs/demo-tabpanel.component.ts
  src/app/shared/components/demo-tabs/demo-tabs.component.scss
  src/app/shared/components/demo-tabs/demo-tabs.component.ts
  src/app/shared/components/dynamic-form/dynamic-form.component.scss
  src/app/shared/components/dynamic-form/dynamic-form.component.ts
  src/app/shared/components/dynamic-form/form-field-registry.service.ts
  src/app/shared/components/dynamic-form/form-field-renderer.component.ts
  src/app/shared/components/dynamic-modal/dynamic-modal.component.scss
  src/app/shared/components/dynamic-modal/dynamic-modal.component.ts
  src/app/shared/components/dynamic-modal/dynamic-modal.service.ts
  src/app/shared/components/dynamic-table/components/table-cell-editor.component.scss
  src/app/shared/components/dynamic-table/components/table-cell-editor.component.ts
  src/app/shared/components/dynamic-table/dynamic-table.component.scss
  src/app/shared/components/dynamic-table/dynamic-table.component.ts
  src/app/shared/components/enhanced-button/enhanced-button.component.scss
  src/app/shared/components/enhanced-button/enhanced-button.component.ts
  src/app/shared/components/page-header/page-header.component.scss
  src/app/shared/components/page-header/page-header.component.ts
  src/app/shared/components/result-display/result-display.component.scss
  src/app/shared/components/result-display/result-display.component.ts
  src/app/shared/components/sidebar/sidebar.component.scss
  src/app/shared/components/sidebar/sidebar.component.ts
  src/app/shared/components/theme-toggle/theme-toggle.component.scss
  src/app/shared/components/theme-toggle/theme-toggle.component.ts
  src/app/shared/components/toast/toast.component.scss
  src/app/shared/components/toast/toast.component.ts
  src/app/shared/components/toast/toast.service.ts
Due: eslint --fix, prettier --write

refactor(components): update demo tab panel implementation for improved content projection
  src/app/shared/components/demo-tabs/demo-tabpanel.component.html
  src/app/shared/components/demo-tabs/demo-tabpanel.component.ts
  src/app/shared/components/demo-tabs/demo-tabs.component.html
  src/app/shared/components/demo-tabs/demo-tabs.component.ts
Due: eslint --fix, prettier --write

refactor(services): disable pagination in nested table service
  docs/404.html
  docs/chunk-6HB6EFYS.js
  docs/chunk-KX2MYIWU.js
  docs/chunk-V2ZJZFN5.js
  docs/chunk-XXN6VQD7.js
  docs/index.html
  docs/main-X3A2J6LU.js
  docs/main-ZO53A5T7.js
  src/app/features/angular/dynamic-table-demo/shared/services/nested-table.service.ts
Due: eslint --fix, prettier --write

docs: update README for project status and structure enhancements
  README.md
Due: none

feat(styles): enhance Tailwind CSS integration and update demo components
  src/app/features/angular/control-value-accessor-demo/control-value-accessor-demo.component.html
  src/app/features/angular/control-value-accessor-demo/control-value-accessor-demo.component.ts
  src/app/features/angular/modern-control-flow-demo/modern-control-flow-demo.component.html
  src/app/features/angular/modern-control-flow-demo/modern-control-flow-demo.component.ts
  src/app/features/angular/multi-step-form-demo/multi-step-form-demo.component.html
  src/app/features/angular/multi-step-form-demo/multi-step-form-demo.component.ts
  src/app/features/angular/reactive-forms-demo/reactive-forms-demo.component.html
  src/app/features/angular/reactive-forms-demo/reactive-forms-demo.component.ts
  src/app/features/angular/signals-demo/signals-demo.component.html
  src/app/features/angular/signals-demo/signals-demo.component.ts
  src/app/shared/components/demo-tabs/demo-tabs.component.ts
  src/styles.scss
Due: eslint --fix, prettier --write

feat: introduce `TableController` for dynamic table state management and refactor table component to use signals and improve reactivity.
  docs/404.html
  src/app/features/angular/dynamic-table-demo/dynamic-table-demo.component.ts
  src/app/features/angular/dynamic-table-demo/shared/services/table-config.service.ts
  src/app/features/angular/dynamic-table-demo/shared/services/table-data.service.ts
  src/app/shared/components/dynamic-table/DEVELOPER_GUIDE.md
  src/app/shared/components/dynamic-table/dynamic-table.component.html
  src/app/shared/components/dynamic-table/dynamic-table.component.ts
  src/app/shared/components/dynamic-table/services/table-state.service.ts
  src/app/shared/services/table-menu-builder.service.ts
  src/app/shared/types/table-config.types.ts
  src/app/shared/utils/table-controller.ts
  src/app/shared/utils/table-data.util.ts
Due: eslint --fix, prettier --write

feat: Introduce `TableFormatPipe` for dynamic table cell formatting, refactor table action menus, and optimize tab panel content rendering.
  docs/404.html
  docs/chunk-2KBBDXQH.js
  docs/chunk-362EV6PS.js
  docs/chunk-ALQUA6W7.js
  docs/chunk-HSJZGVJJ.js
  docs/chunk-JCT4ZQ77.js
  docs/chunk-POU7VPGO.js
  docs/chunk-SAY762UV.js
  docs/chunk-U4ERK5FD.js
  docs/chunk-WS3ONTTE.js
  docs/chunk-XYOWXKMV.js
  docs/chunk-YSZ4NS4S.js
  docs/index.html
  docs/main-PO7GBOVT.js
  docs/main-PWFHLNWM.js
  docs/styles-DWNJYENQ.css
  docs/styles-OHHBKGSH.css
  src/app/shared/components/demo-tabs/demo-tabs.component.html
  src/app/shared/components/dynamic-table/components/table-cell-editor.component.html
  src/app/shared/components/dynamic-table/components/table-cell-editor.component.ts
  src/app/shared/components/dynamic-table/dynamic-table.component.html
  src/app/shared/components/dynamic-table/dynamic-table.component.ts
  src/app/shared/components/dynamic-table/pipes/table-format.pipe.ts
Due: eslint --fix, prettier --write

feat: migrate activeTab from a signal to a model in the demo tabs component.
  docs/404.html
  docs/chunk-2KBBDXQH.js
  docs/chunk-2WC7VJ7V.js
  docs/chunk-DGKF5E6R.js
  docs/chunk-HSJZGVJJ.js
  docs/chunk-PIJUNCZJ.js
  docs/chunk-UV324ZL2.js
  docs/chunk-WS3ONTTE.js
  docs/index.html
  docs/main-EIL43SFM.js
  docs/main-PWFHLNWM.js
  src/app/shared/components/demo-tabs/demo-tabs.component.ts
Due: eslint --fix, prettier --write

Reorder the `demoTables` array elements in `dynamic-table-demo.component.ts`.
  docs/404.html
  docs/chunk-DGKF5E6R.js
  docs/chunk-PIJUNCZJ.js
  docs/chunk-QWNMGVGY.js
  docs/chunk-ZELOCZX7.js
  docs/index.html
  docs/main-EIL43SFM.js
  docs/main-U5CIPBJZ.js
  src/app/features/angular/dynamic-table-demo/dynamic-table-demo.component.ts
Due: eslint --fix, prettier --write

refactor: Improve theming with accent color variables and remove the mobile sidebar drawer.
  src/app/core/services/theme.service.ts
  src/app/features/angular/angular-layout.component.html
  src/app/features/angular/angular-layout.component.ts
  src/app/features/angular/control-value-accessor-demo/control-value-accessor-demo.component.html
  src/app/features/angular/dynamic-table-demo/shared/services/table-config.service.ts
  src/app/features/angular/modern-control-flow-demo/modern-control-flow-demo.component.html
  src/app/features/angular/multi-step-form-demo/multi-step-form-demo.component.html
  src/app/features/angular/reactive-forms-demo/reactive-forms-demo.component.html
  src/app/features/angular/signals-demo/signals-demo.component.html
  src/app/shared/components/demo-header/demo-header.component.html
  src/app/shared/components/dynamic-table/dynamic-table.component.html
  src/app/shared/components/dynamic-table/dynamic-table.component.ts
  src/app/shared/components/dynamic-table/services/table-state.service.ts
  src/app/shared/components/sidebar/sidebar.component.html
  src/app/shared/components/toast/toast.service.ts
  src/styles.scss
Due: eslint --fix, prettier --write

refactor: overhaul UI/UX and styling across various demo components and layouts, including dependency updates.
  angular.json
  package-lock.json
  package.json
  src/app/core/services/theme.service.ts
  src/app/features/advanced-typescript/typescript-layout.component.html
  src/app/features/advanced-typescript/typescript-layout.component.ts
  src/app/features/angular/angular-layout.component.html
  src/app/features/angular/angular-layout.component.ts
  src/app/features/angular/control-value-accessor-demo/control-value-accessor-demo.component.html
  src/app/features/angular/dynamic-form-demo/dynamic-form-demo.component.html
  src/app/features/angular/dynamic-form-demo/dynamic-form-demo.component.ts
  src/app/features/angular/dynamic-modal-demo/dynamic-modal-demo.component.html
  src/app/features/angular/dynamic-modal-demo/dynamic-modal-demo.component.ts
  src/app/features/angular/dynamic-table-demo/dynamic-table-demo.component.html
  src/app/features/angular/dynamic-table-demo/dynamic-table-demo.component.ts
  src/app/features/angular/modern-control-flow-demo/modern-control-flow-demo.component.html
  src/app/features/angular/modern-control-flow-demo/modern-control-flow-demo.component.ts
  src/app/features/angular/multi-step-form-demo/multi-step-form-demo.component.html
  src/app/features/angular/reactive-forms-demo/reactive-forms-demo.component.html
  src/app/features/angular/signals-demo/signals-demo.component.html
  src/app/features/angular/signals-demo/signals-demo.component.ts
  src/app/features/oop/oop-layout.component.html
  src/app/features/oop/oop-layout.component.ts
  src/app/features/rxjs/rxjs-layout.component.html
  src/app/features/rxjs/rxjs-layout.component.ts
  src/app/features/solid/solid-layout.component.html
  src/app/features/solid/solid-layout.component.ts
  src/app/shared/components/dynamic-form/form-field-renderer.component.ts
  src/app/shared/components/footer/footer.ts
  src/app/shared/components/sidebar/sidebar.component.html
  src/app/shared/config/icon-mapping.config.ts
  src/styles.scss
Due: eslint --fix, prettier --write

refactor: Update UI icons from Font Awesome to PrimeIcons and adjust sidebar button padding.
  src/app/features/advanced-typescript/advanced-types/advanced-types-demo.component.html
  src/app/features/advanced-typescript/decorators/decorators-demo.component.html
  src/app/features/advanced-typescript/function-types/function-types-demo.component.html
  src/app/features/advanced-typescript/generics/generics-demo.component.html
  src/app/features/advanced-typescript/module-augmentation/module-augmentation-demo.component.html
  src/app/features/advanced-typescript/type-guards/type-guards-demo.component.html
  src/app/features/advanced-typescript/typescript-5-features/typescript-5-features-demo.component.html
  src/app/features/advanced-typescript/utility-types/utility-types-demo.component.html
  src/app/shared/components/dynamic-table/dynamic-table.component.html
  src/app/shared/components/dynamic-table/dynamic-table.component.ts
  src/app/shared/components/enhanced-button/enhanced-button.component.ts
  src/app/shared/components/sidebar/sidebar.component.html
  src/app/shared/config/icon-mapping.config.ts
Due: eslint --fix, prettier --write

add: introduce Gemini AI settings.
  .gemini/settings.json
Due: none

style: Reformat HTML attributes and template control flow for improved readability.
  src/app/app.config.ts
  src/app/core/services/theme.service.ts
  src/app/features/advanced-typescript/typescript-layout.component.ts
  src/app/features/oop/oop-layout.component.ts
  src/app/features/rxjs/rxjs-layout.component.ts
  src/app/features/solid/solid-layout.component.ts
  src/app/features/solid/srp/srp-demo.component.html
Due: eslint --fix, prettier --write

style: Remove redundant `text-transparent` class from `getTextGradientClasses` method.
  src/app/core/services/theme.service.ts
Due: eslint --fix, prettier --write

chore: Update generated build assets and their references in HTML files.
  docs/404.html
  docs/chunk-2KAJUXXL.js
  docs/chunk-3KOZWXPG.js
  docs/chunk-AIFS3NF4.js
  docs/chunk-AVAIQSX6.js
  docs/chunk-B657G4E3.js
  docs/chunk-BWNZLH24.js
  docs/chunk-FI3KPAQF.js
  docs/chunk-H2FCSPLD.js
  docs/chunk-H6WWT2OA.js
  docs/chunk-LH5FD6BM.js
  docs/chunk-OABR5FB5.js
  docs/chunk-OMXONSO3.js
  docs/chunk-OW3CL5HG.js
  docs/chunk-PCTOZVDT.js
  docs/chunk-QRAKMKBH.js
  docs/chunk-QYLUIFMU.js
  docs/chunk-RG4WIZNQ.js
  docs/chunk-SZDZUXO7.js
  docs/chunk-TJ5JF4ZX.js
  docs/chunk-TZEIEXVN.js
  docs/chunk-U2ACYKTF.js
  docs/chunk-UBYCAZMW.js
  docs/chunk-VBWF4LPW.js
  docs/index.html
  docs/main-LBFPBIC3.js
  docs/main-WLYYKI3R.js
  docs/styles-R6NTUZDE.css
  docs/styles-VUZKNFVP.css
Due: none

feat: Implement dynamic accent color for all feature layouts
  src/app/features/advanced-typescript/typescript-layout.component.html
  src/app/features/advanced-typescript/typescript-layout.component.ts
  src/app/features/oop/oop-layout.component.html
  src/app/features/oop/oop-layout.component.ts
  src/app/features/rxjs/rxjs-layout.component.html
  src/app/features/rxjs/rxjs-layout.component.ts
  src/app/features/solid/solid-layout.component.html
  src/app/features/solid/solid-layout.component.ts
Due: eslint --fix, prettier --write

fix: Dynamic accent color for sidebar icons in dark mode
  src/styles.scss
Due: prettier --write

chore: Update generated application assets, including JavaScript chunks and CSS files.
  docs/404.html
  docs/chunk-2RJMPZN5.js
  docs/chunk-3J2745M7.js
  docs/chunk-3OIYWZ4R.js
  docs/chunk-B657G4E3.js
  docs/chunk-BKQJJNIW.js
  docs/chunk-I3A3KRQS.js
  docs/chunk-OZKJZGBA.js
  docs/chunk-PCTOZVDT.js
  docs/chunk-S3LIQ7HQ.js
  docs/chunk-SZDZUXO7.js
  docs/chunk-TJ5JF4ZX.js
  docs/chunk-TZEIEXVN.js
  docs/chunk-U2ACYKTF.js
  docs/chunk-UBYCAZMW.js
  docs/chunk-VBWF4LPW.js
  docs/chunk-WQKZGKRS.js
  docs/index.html
  docs/main-5MDYC5TF.js
  docs/main-WLYYKI3R.js
  docs/styles-L4ASDUKK.css
  docs/styles-VUZKNFVP.css
Due: none

refactor: Migrate all Font Awesome icons to PrimeIcons and remove the icon mapping utility.
  src/app/features/rxjs/custom-operators/custom-operators-demo.component.html
  src/app/features/rxjs/higher-order-observables/higher-order-observables-demo.component.html
  src/app/features/rxjs/multicasting-operators/multicasting-operators-demo.component.html
  src/app/features/rxjs/reactive-forms/reactive-forms-demo.component.html
  src/app/features/rxjs/rxjs-layout.component.html
  src/app/features/rxjs/transformation-operators/transformation-operators-demo.component.html
  src/app/shared/components/dynamic-table/dynamic-table.component.html
  src/app/shared/components/dynamic-table/dynamic-table.component.ts
  src/app/shared/components/dynamic-table/services/table-state.service.ts
  src/app/shared/components/enhanced-button/enhanced-button.component.ts
  src/app/shared/components/sidebar/sidebar.component.html
  src/app/shared/components/sidebar/sidebar.component.ts
  src/app/shared/utils/icon-mapper.util.ts
Due: eslint --fix, prettier --write
